{{template "base" .}}

{{define "content"}}
  <h1>About Page</h1>
  <p>This is a paragraph of text</p>
  <p>This came from the template: {{index .StringMap "test"}}</p>

  <p>
    {{if ne (index .StringMap "remote_ip") ""}}
      Your remote IP address is {{index .StringMap "remote_ip"}}
    {{else}}
      I don't kwon your ip address yet. Visit the home <a href="/">Home Page</a> so I can set it.
    {{end}}
  </p>
{{end}}