{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap"
      rel="stylesheet"
    />
    {{block "css" .}}
    {{end}}
  </head>
  <body>
    <div class="nav-background">
      <nav class="main-navigation container">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">General Quarters</a>
        <a href="#">Deluxe Quarters</a>
        <a href="#">Book Now</a>
        <a href="#">Contact</a>
      </nav>
    </div>
    {{block "content" .}}

    {{end}}

    <footer class="footer">
      <p>Todos los derechos reservados Eutiquio Javier Ortega</p>
    </footer>

    {{block "js" .}}
    {{end}}
  </body>
</html>
{{end}}